.search-bar {
    flex: 1;
    background-color: white;
    width: 100%;
    display:block;
    margin-bottom: 20px;
  }
  
  .search-input {
    background-color: rgba(201, 190, 190, 0.889);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 15%;
    background: url('https://img.icons8.com/ios-glyphs/30/000000/search--v1.png') no-repeat right 8px center;
  }

  /* .search-input {
    background-color: rgba(201, 190, 190, 0.889);
    padding: 8px;
    width: 15%;
    border: 1px solid #4a4848;
    border-radius: 4px;
    background: url('https://img.icons8.com/ios-glyphs/30/000000/search--v1.png') no-repeat right 8px center;
    background-size: 16px;
  } */

  .sub_header {
    background-color: white;
    padding: 20px;
    font-size: 24px;
    text-align: left;
    padding-left: 5%;
  }

  .search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .show-archived {
    text-align: right;
    margin-left: 10px;
    color: #7C7C80;
  }